.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience {
}

.projects {
}

.view-more {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
}

.title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
