:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

svg,
button {
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  font-size: 1.4rem;
}

.card {
  background-color: var(--bg-cards);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  min-width: 34.8rem;
}
