:root {
  --background: #121214;
  --cards: #1d1e22;
  --skills: #1b7292;
  --links: #2596be;

  --text: #c4c4cc;
  --titles: #e1e1e6;
  --sub-titles: #3e5f8a;
  --supporting-text: #8d8d99;
  --divider: #323238;

  --green: #00875f;
  --green-light: #00b37e;
  --red: #f75a68;
  --white: #fff;

  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  line-height: 160%;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
}

svg,
button {
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

h1 {
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--white);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sub-titles);
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--supporting-text);
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--supporting-text);
}

p,
a,
li {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}
